<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate Age</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body class="body">
    <section class="sec-1">
       <div class="age-1">
            <div class="all">
                <h1 class="h1">CALCULATOR TO KNOW yOUR CURRENT AgE</h1>
                <div class="age">
                    <p style="color: green;"> 
                        Know your current age: <span class="hero" id="CountAge">0</span>
                    </p>
                    <div class="p-2">
                        <p class="p" id="UpComing"></p>
                       <p class="p-1" id="PastBirthday"></p>
                    </div>
                </div>
                <div>
                    <input id="Month" class="input" type="number" placeholder="MM/">
                </div>
                <div>
                    <input id="Day" class="input" type="number" placeholder="DD/">
                </div>
                <div>
                    <input id="Year" class="input" type="number" placeholder="YY/">
                </div>
                <div>
                    <button id="Calculate" class="btn">Calculate age</button>
                </div>
            </div>
       </div>
    </section>
    <script src="./index.js"></script>
</body>
</html>
