*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background-color: black;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

@media screen and (max-width:767px) {
    .all{
        gap: 40px;
    }
}

.input{
    text-align: center;
    font-size: 11px;
    font-style: italic;
    width: 20vw;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 9px;
    color: white;
}

@media screen and (max-width:767px) {
    .input{
        width: 30vw;
        font-size: 16px;
    }
}

.btn{
    border: none;
    background: transparent;
    color: white;
    border-bottom: 1px solid white;
    padding: 5px;
    width: 10vw;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .btn{
        width: 40vw;
        font-size: 17px;
    }
}

.age{
    display: flex;
    flex-direction: column;
    gap: 29px;
    font-size: 12px;
}

@media screen and (max-width:767px) {
    .age{
        font-size: 20px;
    }
}

.age-1{
    background: linear-gradient(45deg, #e73b41, #fad0c4, #fad0c4, #fbc2eb, #a18cd1, #fbc2eb, #fad0c4);
    background-size: 400% 400%; 
    animation: backgroundLighting 9s ease infinite;
    width: 37vw;
    height: 60vh;
    box-shadow: 0px 0px 5px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}


@keyframes backgroundLighting {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width:767px) {
    .age-1{
        width: 90vw;
        height: 70vh;
    }
}

.h1{
    font-size: 19px;
    text-decoration: underline;
    text-shadow: 1px 1px 19px rgba(26, 24, 24, 0.5);
    color: white; 
    display: inline-block;
    animation: glow 2s infinite alternate;
    font-style: italic;
}

@media screen and (max-width:767px) {
    .h1{
        width: 60vw;
        text-align: center;
        font-size: 22px;
    }
}

@keyframes glow {
    from {
        text-shadow: 2px 2px 4px rgba(12, 24, 134, 0.5);
    }
    to {
        text-shadow: 2px 2px 20px rgba(137, 205, 10, 0.8), 0 0 30px rgba(255, 99, 71, 0.6);
    }
}

.hero{
    font-style: italic;
    font-size: 12px;
    background-color: #4b25a2;
    padding: 9px;
    border-radius: 100px;
    border: 1px solid yellow;
    color: white;
}

@media screen and (max-width:767px) {
    .hero{
        font-size: 19px;
        padding: 15px;
    }
}

.p-1{
    color: red;
    font-size: 13px;
    font-style: italic;
}

.p{
    color: green;
    font-style: italic;
}

.p-2{
    background-color: white;
    height: 5vh;
    width: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
}


@media screen and (max-width:767px) {
    .p-2{
        width: 60vw;
    }
}